<section>
    <ul class="cases-container">
        <li class="case">
            <img src="./img/chocomel.png" alt="chocomel">
            <p>Chocomel</p>
            <h3>A campaign for the limited edition letter packs</h3>
        </li>

        <li class="case">
            <img src="./img/chocomel.png" alt="chocomel">
            <p>Chocomel</p>
            <h3>A campaign for the limited edition letter packs</h3>
        </li>

        <li class="case">
            <img src="./img/chocomel.png" alt="chocomel">
            <p>Chocomel</p>
            <h3>A campaign for the limited edition letter packs</h3>
        </li>
        
        <li class="case">
            <img src="./img/chocomel.png" alt="chocomel">
            <p>Chocomel</p>
            <h3>A campaign for the limited edition letter packs</h3>
        </li>
    </ul>
</section>