<section>
    <ul class="cases-container">
        <% data.forEach(tile => { %>
            <li class="case">
                <img src="./img/<%= tile.img %>" alt="<%= tile.client %>">
                <p><%= tile.client %></p>
                <h3><%= tile.title %></h3>
            </li>
        <% }) %>
    </ul>
</section>