<nav>
    <div class="menu-bar">
        <p>DEPT</p>
        <button class="overlay-icon">
            <span>dropdown menu</span>
            <div></div>
            <div></div>
        </button>
    </div>

    <ul class="nav-overlay open">
        <li><a href="">Home</a></li>
        <li><a href="">Werk</a></li>
        <li><a href="">Over</a></li>
        <li><a href="">Diensten</a></li>
        <li><a href="">Partners</a></li>
        <li><a href="">Stories</a></li>
        <li><a href="">Vacatures</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>