<nav>
    <div class="menu-bar">
        <p>DEPT</p>
        <button class="overlay-icon">
            <span>dropdown menu</span>
            <div></div>
            <div></div>
        </button>
    </div>

    <ul class="nav-overlay">
        <li><a href="">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Home
        </a></li>
        <li><a href="">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Werk
        </a></li>
        <li><a href="#">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Over
        </a></li>
        <li><a href="#">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Diensten
        </a></li>
        <li><a href="#">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Partners
        </a></li>
        <li><a href="#">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Stories
        </a></li>
        <li><a href="#">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Vacatures
        </a></li>
        <li><a href="#">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Events
        </a></li>
        <li><a href="#">
            <span>
                <svg height="16" width="16">
                    <polygon points="10,4 4,16 16,16"/>
                </svg>
            </span>
            Contact
        </a></li>
    </ul>
</nav>