<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>DEPT</title>
</head>
<body>
    <header>
        <%- include('../partials/navigation') %>
        <%- include('../partials/header') %>
    </header>

    <main>
        <p>hey</p>
    </main>

    <footer>
    </footer>
    <script src="./js/bundle.min.js"></script>
</body>
</html>