<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>DEPT</title>
</head>
<body>
    <header>
        <%- include('../partials/navigation') %>
        <h1>Work</h1>
    </header>

    <main>
    </main>

    <footer>
    </footer>
</body>
</html>