* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding-m: 20px;
    --padding-l: 50px;

    --margin-m: 20px;
    --margin-l: 50px;

    --cl-text: #272727;
    --cl-text-light: #939393;
    --cl-bg-dark: #0E0E0E;
    --cl-bg-light: #F3F6F6;
    --cl-blue: #1a18f7;

    --max-width: 1200px;
}

body {
    font-family: 'Teko', sans-serif;
    color: var(--cl-text);
}

/* Fonts */
h1,
h2,
h3 {
    font-weight: 400;
}

h2,
h3 {
    font-size: 1.9em;
}

h2 {
    text-align: center;
    margin-bottom: var(--margin-m);
}

h1,
h2,
.case p,
.nav-overlay {
    text-transform: uppercase;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* General styling */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-out;
}

a:visited {
    color: #fff;
}

a:hover {
    color: var(--cl-blue);
}