* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding-m: 20px;
    --margin-m: 20px;
}

body {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

/* Fonts */
h1 {
    font-weight: 400;
}

/* General styling */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

.btn-apprnc {
    background-color: #101010;
    color: #fff;
    padding: 10px;
    margin: var(--margin-m);
    width: calc(100% - 2 * var(--padding-m));
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
}