main {
    padding: 50px var(--padding-m);
}

.case {
    width: 100%;
    margin-bottom: var(--margin-l);
}

.case img {
    width: 100%;
}

.case p {
    color: var(--cl-text-light);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.case img,
.case p {
    margin-bottom: 20px;
}