nav {
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    padding: var(--padding-m);
    font-size: 1.4em;
    font-weight: 500;
    z-index: 10;
}

/* Menu bar */
.menu-bar {
    display: flex;
    justify-content: space-between;
}

/* Nav overlay */
.nav-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: var(--padding-m);
    opacity: 0;
    pointer-events: none;
    background-color: #101010;
    color: #FFF;
    font-weight: 400;
    font-size: 1.9em;
    line-height: 1.1em;
    justify-content: center;
    text-align: right;
    transition: 0.4s ease-out;
}

.nav-overlay li {
    /* list-style-position: inside; */
}

.nav-overlay li:not(li:last-of-type) {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

/* .nav-overlay li::marker {
    content: "▶";
    color:rgba(255, 255, 255, 1);
}

.nav-overlay li:hover::marker {
    color:rgba(255, 255, 255, 1);
} */

.nav-overlay a {
    display: block;
    overflow: hidden;
    /* add padding to top to make caps look centered vertically*/
    padding-top: 5px;
}

/* Overlay icon  */
.overlay-icon {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 25px;
    background-color: transparent;
    border: 0;
    position: relative;
    justify-content: center;
    z-index: 10;
}

.overlay-icon > span {
    top: -10000px;
    left: -1000px;
    position: absolute;
}

.overlay-icon > div {
    width: 100%;
    height: 3px;
    margin: 2px 0;
    display: block;
    background-color: #101010;
    transition: 0.4s ease-out;
}

/* Nav open */
nav.open .nav-overlay {
    opacity: 1;
    pointer-events: all;
}

nav.open .overlay-icon > div {
    background-color: #fff;
}

nav.open .overlay-icon > div:nth-of-type(1) {
    transform: rotateZ(45deg) translateY(5px);
}

nav.open .overlay-icon > div:nth-of-type(2) {
    transform: rotateZ(-45deg) translateY(-5px);
}